<template name="Authentication">
  <section class="landing-page">

    <form id="login-form" class="login-card" action="/" >
      <header class="text-center">
        <h3>ScrumTracker</h3>
        <h2>Login with Github account</h2>
      </header>
      <div class="text-center">
        <button class="btn btn-success btn-block" type="submit" name="action">Login
          <!--<i class="material-icons">send</i>-->
        </button>
      </div>
    </form>

    <div id="particles-js"></div>
  </section>
</template>
