html, body {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.hidden{ display: none !important; }

.modal-backdrop{ height: 100%; }

.navbar{
  border-radius: 0;
  margin-bottom: 0;
  border: none;
  background-color: #024e68;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;

  .navbar-nav > li > a{
    &:hover, &:active, &:focus{ color: #DAD9D9; }
    color: #fff;
  }
}

::-webkit-scrollbar {
  width: 11px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
::-webkit-scrollbar-thumb:vertical {
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px; /*Prevent it from getting too small */
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb{ background: rgba(0,0,0,0.61);  }

#content{ padding-top: 50px; }

#work-panel{
  position: absolute;
  bottom: 0;
  top: 50px;
  left: 0;
  background-color: #06799f;
  white-space: nowrap;
  min-width: 100%;

  #work-panel-content{
    height: 100%;
    padding: 35px 0 10px 0;

    .list-wrapper{
      width: 270px;
      margin: 0 5px;
      height: 100%;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      white-space: normal; 

      .list{
        background: #e2e4e6;
        border-radius: 6px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        max-height: 100%;
        position: relative;

        .list-title{
          padding: 8px;
          font-weight: bold;
          color: #424242;
          min-height: 46px;
          form {
            > input[type="text"]{
              border: none;
              outline: none;
              padding: 5px 1px;
              display: block;
              width: 100%;
              margin-bottom: 5px;
              &:focus{ background-color: #fff; }
            }
          }
          .list-actions{
            position: absolute;
            top: 8px;
            right: 8px;
          }
        }
        .list-body{
          padding: 0 8px;
          -webkit-box-flex: 1;
          -webkit-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          overflow-y: scroll;
          padding: 0 0px 0 8px;

          .card{
            background-color: #fff;
            border-radius: 5px;
            padding: 5px;
            min-height: 60px;
            margin-bottom: 8px;
            cursor: pointer;
            &:hover{ background-color: #F1F1F1; }
          }
        }
        .list-footer{
          .add-card-form{
            display: none;
            padding: 5px;
            &.show{ display: block; }
            textarea{ width: 100%; outline: none; }
          }
        }

        a.block-link{
          padding: 8px;
          display: block;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          color: #8E8C8C;
          &:hover{ background-color: #ccc; }
          &.create-list{ border-radius: 5px; }
        }

      }
    }
  }
}


.login-card{
  width: 90%;
  max-width: 520px;
  padding: 22px 30px 30px;
  margin: 25px auto;
  background-color: #FAFAFA;
  box-shadow: 5px 5px 6px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  position: relative;
  z-index: 1;

  h2{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: -0.5px;
    color: #444444;
    text-align: center;
}

.input-text{ margin: 0 0 14px 0; }
input[type="text"],input[type="password"],input[type=email]{
  box-shadow: 0 0 0;
  background-color: transparent;
  border-width: 0;
  position: relative;
  padding: 4px 8px;
  font-size: 22px;
  border-bottom: 1px solid #DFDFDF;
  font-family: "Roboto", "HelveticaNeue-Light", "sans-serif";
  font-weight: 300;
  width: 100%;
  line-height: 24px;
}
}
