

<template name="EditCard">
  <div id="work-panel">
    <div id="work-panel-content">
      {{> Lists}}
    </div>
  </div>

  {{#with card }}
  <div class="card-details modal fade in" style="display: block">
    <div class="modal-backdrop fade in close-card-details"></div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close close-card-details" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{ title }}</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-9 col-sm-9">
              <div class="members">
                <span>MEMBERS</span>
                {{# each cardMembers }}
                <div class="cardMember">
                  {{ profile.name }}
                </div>
                {{/ each }}
                <div class="dropdown add-users-to-card">
                  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">+</button>
                  <ul class="dropdown-menu">
                    <li class="text-center">Assign users to this card</li>
                    <li class="divider"></li>
                    {{# each users }}
                    <li><a href="#" data-user-id="{{_id}}">{{ profile.name }}</a></li>
                    {{/ each }}
                  </ul>
                </div>
              </div>
              {{# if description }}
                {{ description }}
              {{ else }}
                <a href="#" class="edit-description">Edit description ...</a>
                <form class="card-description-form {{#unless is_description_edit_shown }} hide {{/unless}}">
                  <textarea></textarea> 
                  <button class="btn btn-success btn-sm">Save</button>
                  <a class="close" href="#"><span class="glyphicon glyphicon-remove"></span></a>
                </form>
              {{/ if }}
            </div>
            <div class="col-md-3 col-sm-3">
              <h5>Add</h5>
              <button class="btn btn-default btn-block btn-sm">Members</button>
              <button class="btn btn-default btn-block btn-sm">Checklist</button>
              <button class="btn btn-default btn-block btn-sm">Points</button>

              <h5>Actions</h5>
              <button class="btn btn-default btn-block btn-sm">Move</button>
              <button class="btn btn-default btn-block btn-sm">Copy</button>
              <button class="btn btn-default btn-block btn-sm">Share</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/with }}
</template>
